servers_config = {
  web01 = {
    name = "web01"
    flavor_id = "xxxxx"
    image_id = "xxxxx"
    key_pair = "key_name"
    volume_size = 10
    security_groups = ["security_group1"]
    net_int = "int_net"
    net_ext = "ext_net"
    ssh_user = "almalinux"
    ssh_key_path = "/keys/web01.id_rsa"
  },
  db01 = {
    name = "db01"
    flavor_id = "xxxxx"
    image_id = "xxxxx"
    key_pair = "key_name"
    volume_size = 10
    security_groups = ["security_group1"]
    net_int = "int_net"
    net_ext = "ext_net"
    ssh_user = "almalinux"
    ssh_key_path = "/keys/db01.id_rsa"
  }
}

# volumes_config = {
#   db01 = { 
#     volume_size = 50,
#     volume_mount_path = "/var/lib/mysql"
#   }
# }
