---
- hosts: localhost
  become: yes
  gather_facts: yes
  gather_subset: min
  tasks:
    - name: Get server details map from terraform output
      cloud.terraform.terraform_output:
        state_file: ../terraform/terraform.tfstate
        name: servers_detail
      register: _result_tfo_main

    - name: Get volume details map from terraform output
      cloud.terraform.terraform_output:
        state_file: ../terraform/terraform.tfstate
        name: volumes_detail
      register: _result_tfo_vol
      failed_when: false

    - name: Define server hosts in dynamic inventory
      add_host:
        name: "{{ item.value.name }}"
        groups: all
        ansible_host: "{{ item.value.floating_ip }}"
        ansible_user: "{{ item.value.ssh_user }}"
        ansible_ssh_private_key_file: "{{ item.value.ssh_key_path }}"
        vol_device_path: "{{ _result_tfo_vol.value[item.key].device_path | default(omit) }}"
        vol_mount_path: "{{ _result_tfo_vol.value[item.key].mount_path | default(omit) }}"
      loop: "{{ _result_tfo_main.value | dict2items }}"


- hosts: localhost
  tasks:
    - name: Generate inventory file
      include_role:
        name: setup
        tasks_from: generate_inventory
      vars:
        Inventory_path: "{{ playbook_dir }}/inventories/hosts"


- hosts: all
  become: yes
  gather_facts: no
  pre_tasks:
    - name: Wait for SSH connection to be available
      wait_for_connection:
        delay: 1
        timeout: 180
  roles:
    - role: setup
